
@charset "utf-8";

	
/*************************************/
/* Import Styles --------------------------------------------------------*/
/*************************************/
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

/*font-family: 'Josefin Slab', serif;
font-family: 'Didact Gothic', sans-serif;*/

/*************************************/
/* Basic Styles --------------------------------------------------------*/
/*************************************/
html{
  font-size: 62.5%;
}
body{
	font-family: 'Roboto'!important;
	font-size: 1.7rem;
	letter-spacing: 0.01rem;
	color: #333;
	background-color: #fff;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
p{
	font-weight: lighter;
}
a:hover{
	text-decoration: none;
}
img{
	max-width: 100%;
}

ul{
	margin-left: -1em;
}

ul li{
	display: inline-block;
	list-style: none;
}

blockquote{
	background-color: #f9f9f9;
	border-color:#CA424C;
	color:#CA424C;
	margin-top: 1.5em;
}

figure {
    margin: 0em;
}

video{
	width: 100%;
	object-fit: inherit;
	height: 50vh;
}

h1,h2,h3,h4{
	font-family: 'Lato'!important;
	margin-top: 0px!important;
}


/*Header*/
.header{
	background-image: url('../img/header.jpg');
	background-size: cover;
	padding-top: 10em;
}

.header__info{
	background-color: #D90110;
	padding-bottom: 2em;

}

.header__mes{
	align-items: center;
	background: #fff;
	border-radius: 50%;
	border:3px solid #232323;
	display: flex;
	height: 150px;
	justify-content: center;
	margin-left: 30%;
	margin-top: -3em;
	width: 58%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.header__mes:before{
	content:"";
	width: 5px;
	height: 65px;
	background-color:#232323;
	position: absolute;
	top:99%;
}

.header__mes h3{
	font-size: 1.8em;
	font-weight: 600;
}

.header__title{
	margin-top: 2em;
}

.header__title h2{
	color:#fff;
	font-size: 3.5em;
	font-weight: 600;
	margin-top: 2em;
}

/*Article*/
.contenido__contenedor{
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	height: 100%;
	padding: 4em 6em;
}

.contenido__contenedor article{
	background-color: #f9f9f9;
	border-bottom: 4px solid #E8E8E8;
	margin-bottom: 4em;
}

.contenido__contenedor__title{
	background-color: #D90110;
	border-right: 30px solid #E7E7E7;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em;
}

.contenido__contenedor__title:before{
	content: "";
	width: 5px;
	height: 56px;
	position: absolute;
	top:-56px;
	background: #e7e7e7;
}

.contenido__contenedor__title--verde{
	background-color: #00BB65!important;
}

.contenido__contenedor__title--azul{
	background-color: #006CEB!important;
}

.contenido__contenedor__title--amarillo{
	background-color: #EEDF68!important;
}

.info p{
	font-size: 1.3em;
}

.color--verde{
	color:#00BB65!important;
}

.color--azul{
	color:#006CEB!important;
}

.color--amarillo{
	color:#EEDF68!important;
}


.number{
    align-items: center;
	background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border:3px solid #232323;
    display: flex;
    justify-content: center;
	height: 50px;
	position: absolute;
	top:3%;
	left:12.3%;
	width: 50px;
	z-index: 99;
}

.number h4{
	font-weight: 800;
	font-size: 1.5em;
}

.contenido__contenedor h2{
	color:#d90110;
	font-weight: 600;
	font-size: 3em;
	letter-spacing: 1px;
	margin-top: 0.5em!important;
}

.contenido__contenedor h3{
	color:#aaa;
	font-size: 1.5em;
	font-weight: 600;
	margin-left: 0.2em;
}

.contenido__tareas{
	padding: 2em 2em;
}

.contenido__tareas ul li{
	font-size: 1.8em;
	margin-bottom: 2em;
}

.contenido__tareas ul li img{
	position: absolute;
	padding-right: 2em;
}

.contenido__tareas ul li p{
	margin-left: 4em;
}

table.paleBlueRows {
  border: 1px solid #FFFFFF;
  width: 90%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
  margin-left: 5%;
  margin-bottom: 4em;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #eee;
}
table.paleBlueRows thead {
  background: #00BB65;
  border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}